body{
    background: rgba(20, 20, 20, .5);
}

/* The Navigation Bar */
nav{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    height: min-content;
}
#profile1{
    width: clamp(30px, 2vw, 80px);
    height: clamp(30px, 2vw, 80px);
}
#profile{
    width: clamp(50px, 4vw, 100px);
    height: clamp(50px, 4vw, 100px);
    cursor: pointer;
}
#profile:hover{
    transform: scale(1.1);
}
#threeLine{
    display: block;
}


/* Content Field */
.container{
    width: 100%;
    height: 100%;
    padding: 2% 5%;
    background: whitesmoke;
    transition: 1s opacity;
}
fieldset{
    padding: 2% 5%;
    border: none;
    width: 100%;
}

.user{
    display: flex;
}
.data{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.data a{
    color: green;
    text-decoration: underline;
}


.skill{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

.skillName{
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
.skillDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}
label{
    font-size: clamp(14px, 4vw, 18px);
}
textarea{
    padding: 2vw;
    font-size: clamp(12px, 3vw, 16px);
    resize: none;
    max-width: 700px;
    width: 40vw;
    height: 200px;
    text-decoration: none;
    font-weight: 500;
    border: none;
}
.workingHistory{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}

.working-history{
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.company{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 70%;
    padding: 10px;
}
.company .confirmation{
    width: fit-content;
    margin-left: auto;
}
.company .confirmation input[type= 'button']{
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: auto;
    background: green;
    color: white;
    border: none;
    border-radius: 10px;
}
.company .confirmation input[type = 'button']:hover{
    color: black;
    background: greenyellow;
}

strong{
    font-size: clamp(14px ,3vw, 18px);
}
p{
    font-size: clamp(10px ,3vw, 15px);
}
h2{
    font-size:clamp(16px, 4vw, 20px)
}
h1{
    font-size: clamp(18px, 6vw, 25px);
}


@media (max-width:500px){
    .skill, .portfolio{
        grid-template-columns: auto;
    }
}
@media (min-width:400px){
    #profile1{
        width: 30px;
        height: 30px;
        margin-right: 0;
    }
}
img{
    border-radius: 50%;
}
#msg:hover{
    text-decoration: underline;
    color: green;
}