*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  width: 100vw;
  background: none;
  display: grid;
  justify-content: center;
}

.wrapper{
  max-width: 700px;
  width: fit-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  padding: 1rem 5%;
  transition: 1s opacity;
}
.user{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.userInfo{
  display: flex;
  flex-direction: column;
  width: fit-content;
  order: 2;
}
.pro{
  order: 1;
  margin: 20px auto;
  width: 70px;
  min-width: 1rem;
  max-width: 5rem;
  height: 70px;
  min-height: 1rem;
  max-height: 5rem;
  border-radius: 50%;
}
.userName{
  font-size: clamp(14px, 4vw, 25px);
  color: blue;
}.userAddress{
  font-weight: 600;
}
.userAddress, .company, .exp{
  font-size: clamp(12px, 3vw, 16px);
}
.work, .desc, .exp{
  text-decoration: underline;
  font-size: clamp(14px, 4vw, 18px);
  color: darkgreen;
}
.skills{
  font-size: clamp(14px, 4vw, 18px);
  color: darkgreen;
}
.userDet, .wh, .expe{
  font-size: clamp(11px, 3vw, 14px);
  color: grey;
}
.star{
  width: 100px;
}
.description{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.desc{
  font-weight: 600;
}
textarea{
  resize: none;
  width: clamp(200px, 20vw, 400px);
  height: 50px;
  margin-bottom: 20px;
  background: none;
  border: none;
}
.experience{
  margin: 10px 0;
}
.experience .exp{
  font-weight: 600;
}

.msg{
  display: flex;
  justify-content: center;
}
.wrapper .msg input[type="button"]{
  margin: auto;
  border: none;
  border-radius: 10px;
  background-color: blue;
  padding: .25rem 2rem;
  font-size: clamp(16px, 3vw, 20px);
  color: white;
}
.wrapper .msg input[type="button"]:hover{
  background: rgb(36, 36, 191);
  cursor: pointer;
}
.wrapper .msge input[type="button"]{
  width: 100%;
  color: white;
  font-size: 14px;
  background: green;
  text-shadow: 1px 1px 1px black;
  padding: .12rem;
  margin-bottom: 20px;
}
.wrapper .msge input[type="button"]:hover{
  cursor: pointer;
  background: greenyellow;
  color: black;
}

@media (max-width:400px){
  .wrapper{
    padding: 1rem 2%;
  }
  .portimg{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .imgport{
    width: 200px;
  }
}