body{
  overflow: hidden;
}
#formWrapper{
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
#formWrapper form{
  width: max-content;
}
#imageWrapper{
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: absolute;
  left: 0;
  transition: 1s all ease-in-out;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

#select{
  font-weight: bold;
  font-size: 16px;
  border: none;
  margin-right: auto;
  width: max-content;
  padding: .25rem 2rem;
  outline: none;
}