.skill-categories{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    background: #ffffff;
    padding: 10px;
    column-count: auto;
}
.skill{
    margin: 20px 0;
    padding: 2% 50px;
}
span i{
    font-size: clamp(12px, 3vw, 15px);
}
.skills{
    margin-left: 5px;
    font-size: clamp(12px, 3vw, 15px);
    text-align: left;
}

@media (max-width:720px){
    .skill-categories{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
}
@media (max-width:400px){
    .skill-categories{
        grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    }
}