@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');


#logo{
    font-family: 'Mochiy Pop P One', sans-serif;
    cursor: pointer;
    box-shadow: 6px 4px burlywood;
    padding: 0px;
    width: min-content;
}
#logo:hover{
    box-shadow: 7px 5px rgb(223, 180, 124);
}
#logo::first-letter{
    padding: 0 7px;
    background: darkgreen;
    color: white;
    background-size: 2em;
    border-radius: 50%;
}